{% extends 'base.html.twig' %}

{% block body %}
    <h1>Doctors list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Formation</th>
                <th>Description</th>
                <th>Adress</th>
                <th>Zipcode</th>
                <th>City</th>
                <th>Phonenumber</th>
                <th>Officephonenumber</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for doctor in doctors %}
            <tr>
                <td><a href="{{ path('doctor_show', { 'id': doctor.id }) }}">{{ doctor.id }}</a></td>
                <td>{{ doctor.firstname }}</td>
                <td>{{ doctor.lastname }}</td>
                <td>{{ doctor.email }}</td>
                <td>{{ doctor.formation }}</td>
                <td>{{ doctor.description }}</td>
                <td>{{ doctor.adress }}</td>
                <td>{{ doctor.zipcode }}</td>
                <td>{{ doctor.city }}</td>
                <td>{{ doctor.phoneNumber }}</td>
                <td>{{ doctor.officePhoneNumber }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('doctor_show', { 'id': doctor.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('doctor_edit', { 'id': doctor.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('doctor_new') }}">Create a new doctor</a>
        </li>
    </ul>
{% endblock %}
