{% extends 'base.html.twig' %}

{% block body %}
    <h1>Doctor</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ doctor.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ doctor.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ doctor.lastname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ doctor.email }}</td>
            </tr>
            <tr>
                <th>Formation</th>
                <td>{{ doctor.formation }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ doctor.description }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ doctor.adress }}</td>
            </tr>
            <tr>
                <th>Zipcode</th>
                <td>{{ doctor.zipcode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ doctor.city }}</td>
            </tr>
            <tr>
                <th>Phonenumber</th>
                <td>{{ doctor.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Officephonenumber</th>
                <td>{{ doctor.officePhoneNumber }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('doctor_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('doctor_edit', { 'id': doctor.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
